HELP.md
.gradle/
build/
out/
bin/
dist/
nbbuild/
nbdist/
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Build artifacts
*.jar
*.war
*.zip
*.class

# Eclipse/STS
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/

# NetBeans
/nbproject/private/
.nb-gradle/

# OS-specific files
.DS_Store
Thumbs.db
